<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

	<title>Clients List</title>

	<link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/sticky-footer-navbar/">

	<!-- Bootstrap core CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
		integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

	<!-- Custom styles for this template -->
	<link href="https://getbootstrap.com/docs/4.0/examples/sticky-footer-navbar/sticky-footer-navbar.css"
		rel="stylesheet">
</head>

<body>

	<header>
		<!-- Fixed navbar -->
		<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
			<a class="navbar-brand" href="#">Demo Project Python Django</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
				aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarCollapse">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item">
						<a class="nav-link" href="/projects/show">Projects</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/developers/show">Developers</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/managers/show">Managers</a>
					</li>
					<li class="nav-item active">
						<a class="nav-link" href="/clients/show">Clients <span class="sr-only">(current)</span></a>
					</li>

					<li class="nav-right">
						<a class="nav-link" href="/logout">Logout</a>
					</li>
				</ul>
			</div>
		</nav>
	</header>

	<div class="container">
		{% for message in messages %}
		<div class="alert alert-primary" role="alert">
			{{message}}
		</div>
		{% endfor %}
		<h2>Clients List</h2>
		<p>This is a table consisting of all the tables</p>
		<a class="float-right" href="/clients/add">Add Client</a>
		<table class="table">
			<thead>
				<tr>
					<th>Client ID</th>
					<th>Client Name</th>
					<th>Client Email</th>
					<th>Client Contact</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				{% for client in clients %}
				<tr>
					<td>{{ client.cid }}</td>
					<td>{{ client.cname }}</td>
					<td>{{ client.cemail }}</td>
					<td>{{ client.ccontact }}</td>
					<td>
						<a href="/clients/edit/{{ client.id}}"><span
								class="glyphicon glyphicon-pencil">Edit</span></a> |
						<a href="/clients/delete/{{ client.id}}"
							onclick="return confirm('Are you sure you want to delete client?');">Delete</a>
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</body>

</html>