<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

	<title>Add New Developer</title>

	<link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/sticky-footer-navbar/">

	<!-- Bootstrap core CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
		integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

	<!-- Custom styles for this template -->
	<link href="https://getbootstrap.com/docs/4.0/examples/sticky-footer-navbar/sticky-footer-navbar.css"
		rel="stylesheet">
</head>

<body>

	<header>
		<!-- Fixed navbar -->
		<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
			<a class="navbar-brand" href="#">Demo Project Python Django</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
				aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarCollapse">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item">
						<a class="nav-link" href="/projects/show">Projects</a>
					</li>
					<li class="nav-item active">
						<a class="nav-link" href="/developers/show">Developers <span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item ">
						<a class="nav-link" href="/managers/show">Managers</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/clients/show">Clients</a>
					</li>
					<li class="nav-right">
						<a class="nav-link" href="/logout">Logout</a>
					</li>
				</ul>
			</div>
		</nav>
	</header>
	<div class="container">
		<div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
			<div class="panel panel-info">
				<div class="panel-heading">
					<div class="panel-title">Add New Developer</div>
				</div>

				<div style="padding-top:30px" class="panel-body">

					<div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>

					<form id="loginform" method="POST" action="" class="form-horizontal" role="form">
						{% csrf_token %}
						<div style="margin-bottom: 25px" class="input-group">
							<input id="id_did" type="text" class="form-control" name="did" value=""
								placeholder="Developer id like 1,2,3,4,5">
						</div>
						<div style="margin-bottom: 25px" class="input-group">
							<input id="id_dname" type="text" class="form-control" name="dname" value=""
								placeholder="Developer Name like John etc">
						</div>
						<div style="margin-bottom: 25px" class="input-group">
							<input id="id_demail" type="email" class="form-control" name="demail" value=""
								placeholder="Developer email@domain.com like">
						</div>

						<div style="margin-bottom: 25px" class="input-group">
							<input id="id_dcontact" type="text" class="form-control" name="dcontact"
								placeholder="Developer contact like 030178451455">
						</div>

						<div style="margin-top:10px" class="form-group">
							<!-- Button -->
							<div class="col-sm-12 controls">
								<button id="btn-login" type="submit" href="#" class="btn btn-primary">Add New Developer</button>
							</div>
						</div>
						<div class="form-group">
							<div class="col-md-12 control">
								<div style="border-top: 1px solid#888; padding-top:15px; font-size:85%">
									Don't want to add developer click to go back
									<a href="/developers/show">
										Back
									</a>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>

</body>

</html>