<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

	<title>Projects Edit</title>

	<link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/sticky-footer-navbar/">

	<!-- Bootstrap core CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
		integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

	<!-- Custom styles for this template -->
	<link href="https://getbootstrap.com/docs/4.0/examples/sticky-footer-navbar/sticky-footer-navbar.css"
		rel="stylesheet">
</head>

<body>

	<header>
		<!-- Fixed navbar -->
		<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
			<a class="navbar-brand" href="#">Demo Project Python Django</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
				aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarCollapse">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active">
						<a class="nav-link" href="/projects/show">Projects <span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/developers/show">Developers</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/managers/show">Managers</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/clients/show">Clients</a>
					</li>

					<li class="nav-item">
						<a class="nav-link disabled" href="#">Disabled</a>
					</li>
				</ul>
			</div>
		</nav>
	</header>

	<!-- Begin page content -->
	<main role="main" class="container">
		<form method="POST" class="post-form" action="/projects/update/{{project.id}}">
			{% csrf_token %}

			<div class="container">
				<br>
				<div class="form-group row">
					<label class="col-sm-1 col-form-lable"></label>
					<div class="col-sm-4">
						<h3>Update Details</h3>
					</div>
				</div>


				<div class="form-group row">
					<label class="col-sm-2 col-form-lable">Project Name : </label>
					<div class="col-sm-4">
						<input type="text" name="pname" id="id_pname" value="{{ project.pname }}" />
					</div>
				</div>

				<div class="form-group row">
					<label class="col-sm-2 col-form-lable">Client Name : </label>
					<div class="col-sm-4">
						<select class="form-control" name="client" id="client_id">
							{% for client in clients %}
							<option value="{{ client.id }}">{{ client.cname }}</option>
							{% endfor %}
						</select>
					</div>
				</div>

				<div class="form-group row">
					<label class="col-sm-2 col-form-lable">Manager Name : </label>
					<div class="col-sm-4">
						<select class="form-control" name="manager" id="manager_id">
							{% for manager in managers %}
							<option value="{{ manager.id }}">{{ manager.mname }}</option>
							{% endfor %}
						</select>
					</div>
				</div>

				<div class="form-group row">
					<label class="col-sm-2 col-form-lable">Manager Contact : </label>
					<div class="col-sm-4">
						<select class="form-control" name="developer" id="developer_id">
							{% for developer in developers %}
							<option value="{{ developer.id }}">{{ developer.dname }}</option>
							{% endfor %}
						</select>
					</div>
				</div>
				<button type="submit" class="btn btn-success">Update</button>
			</div>

		</form>
	</main>
</body>

</html>